.container {
  justify-content: center;
  flex: center;
  margin-left: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
}

hr{
  margin-right: 10px;
}

/* Simple Header with Shadows */

h1 {
    text-align: center;
    color: #fcedd8;
    background: transparent;
    font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 2px 2px 0px #eb452b, 
                4px 4px 0px #efa032, 
                6px 6px 0px #46b59b, 
                8px 8px 0px #017e7f, 
                10px 10px 0px #052939, 
                12px 12px 0px #c11a2b, 
                14px 14px 0px #c11a2b, 
                16px 16px 0px #c11a2b, 
                18px 18px 0px #c11a2b;
}


/* Year Animation */

.year {
    display: inline-block;
    color: darkgrey;
    white-space: nowrap;
    font-size: 26px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
      1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
      5px 13px 15px black;
  }
  
.year:hover {
    transition: 0.3s;
    transform: scale(1.1)translate(5%, 5%);
    text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
      1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
      1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
  }
