.skills-div {
    display: table;
    width: 90%;
    table-layout: fixed;
    margin-top: 80px;
    margin-left: 160px;
    margin-bottom: 20px;
}
.skilss-div img {
    display: table-cell;
    text-align: center;
}

.skills-div .image1 {
    margin: 20px;
    width: 100px;
    height: 100px;
    animation-name: spin1;
    animation-duration: 15683ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: rotate(3600deg);

    -webkit-animation-name: spin1;
    -webkit-animation-duration: 15683ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin1;
    -moz-animation-duration: 15683ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin1;
    -ms-animation-duration: 15683ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
}
.skills-div .image2 {
  margin: 20px;
  width: 100px;
  height: 100px;
  animation-name: spin2;
  animation-duration: 15683ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: rotate(3600deg);

  -webkit-animation-name: spin2;
  -webkit-animation-duration: 15683ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin2;
  -moz-animation-duration: 15683ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin2;
  -ms-animation-duration: 15683ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}

@-moz-keyframes spin1 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin1 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin1 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes spin2 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin2 {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}
