.PhotoHeader{
    background-color: CornflowerBlue;
}
.PhotoHeadere{
    background-color: brown;
}

#loginButton{
    font-size: 30px !important;
    border-radius: 15px !important;
    color:white;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 0;
    line-height: 1;
}
img{
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    pointer-events: none !important;
}