.App {
  text-align: center;
}

.main-content {
  background: linear-gradient(rgba(140,0,0,0.5), rgba(40,0,0,0.5));  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#appbar{
  background-color: #212121;
}

img{
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  pointer-events: none !important;
}