.App {
  text-align: center;
}

.App-header {
  background: url(../Images/Pngs/yasuo2.png) , url(../Images/Pngs/yasuo1.png);  
  background-position: left top, right top;
  background-position: 1%, 99%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#appbar{
  background-color: #212121;
}

.page-footer{
  padding-right: 20px;
  background-color: #3e3e3e !important;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text{
  color:white;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  float: right;
  
}
.nameImage{
  margin-top: 10px;
}
.cvImage{
  position: absolute;
}
#cvParent{
  margin-top: -85px;
  margin-right: 480px;
}

img{
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  pointer-events: none !important;
}