.App {
  text-align: center;
}

.main-content {
  background: linear-gradient(rgba(140,0,0,0.5), rgba(40,0,0,0.5));  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#appbar{
  background-color: #212121;
}

.page-footer{
  padding-right: 20px;
  background-color: #3e3e3e !important;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text{
  color:white;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  float: right;
  
}
.nameImage{
  margin-top: 5px;
}
.cvImage{
  position: absolute;
}
#cvParent{
  margin-right: 280px;
}

img{
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  pointer-events: none !important;
}
.cv-button{
  width: 250px;
  height: 70px;
}